<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
</head>
<body>
    <p><a style="margin-right: 20px" href="{{url_for('home')}}">Home</a>
        <a style="margin-right: 20px" href="{{url_for('about')}}">About me</a>
        <a style="margin-right: 20px" href="{{url_for('gallery')}}">Gallery</a>
        <a style="margin-right: 20px" href="{{url_for('contact')}}">Contact</a></p>
    <h1>O mnie!</h1>
    <p>Jestem studentem 2 roku Informatyki na WSB!</p>

</body>
</html>