<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
</head>
<body>
    <p><a style="margin-right: 20px" href="{{url_for('home')}}">Home</a>
        <a style="margin-right: 20px" href="{{url_for('about')}}">About me</a>
        <a style="margin-right: 20px" href="{{url_for('gallery')}}">Gallery</a>
        <a style="margin-right: 20px" href="{{url_for('contact')}}">Contact</a></p>
    <h1>Kontakt!</h1>
    <p>W razie pytań pisz śmiało na <a href="mailto:mail@gmail.com">mail@gmail.com</a></p>
</body>
</html>