<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
</head>
<body>
    <p><a style="margin-right: 20px" href="{{url_for('home')}}">Home</a>
        <a style="margin-right: 20px" href="{{url_for('about')}}">About me</a>
        <a style="margin-right: 20px" href="{{url_for('gallery')}}">Gallery</a>
        <a style="margin-right: 20px" href="{{url_for('contact')}}">Contact</a></p>
    <h1>Galeria!</h1>
    <img src="/static/tapeta1.jpg" alt="Tapeta">
    <img src="/static/tapet2.jpg" alt="Tapeta">


</body>
</html>